<nav>
    <h1>Star Wars</h1>
    <input type="text" placeholder="Search Person">
    <div style="display: flex; flex-direction: row;">
        <div>Filter By</div>
        <select name="" id="">
            <option value="planet">Planet</option>
            <option value="film">Film</option>
            <option value="species">Species</option>
        </select>
    </div>
</nav>

<div *ngFor="let person of people">
    <!-- TODO: map index of every person to url  -->
    <li class="person" (click)="onSelect(person)">
        <button [class.selected]="person === selectedPerson">
            <h3>Name: {{person.name}}</h3>
            <div>Birth year: {{person.birth_year}}</div>
            <div>Skin color: {{person.skin_color}}</div>
            <div>Gender: {{person.gender}}</div>
        </button>
    </li>
</div>
<div *ngIf="selectedPerson">
    <h1>{{selectedPerson.name}} details</h1>
    <div>Height: {{selectedPerson.height}}</div>
    <div>Weight: {{selectedPerson.mass}}</div>
    <div>Hair Color: {{selectedPerson.hair_color}}</div>
    <div>Skin Color: {{selectedPerson.skin_color}}</div>
    <div>Eye Color: {{selectedPerson.eye_color}}</div>
    <div>Birth Year: {{selectedPerson.birth_year}}</div>
    <div>
        <label for="person-name">Person Name</label>
        <input type="text" [(ngModel)]="selectedPerson.name" placeholder="">
    </div>
</div>