<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/"></a>
            <img src="../../../assets/img/StarWarsLogo.png" alt="logo">
        </li>
        <!-- TODO: pagination -->
        <!-- <button (click)="previousPage()">Previous Page</button>
        <li><span>{{pageNumber}}</span></li>
        <button (click)="nextPage()">Next Page</button> -->
    </ul>
</nav>
<div class="container">
    <div class="person" *ngFor="let person of people">
        <!-- TODO: map index of every person to url  -->
        <li (click)="onSelect(person)">
            <h3>Name: {{person.name}}</h3>
            <span>Birth year: {{person.birth_year}}</span>
        </li>
    </div>
    <app-person [person]="selectedPerson"></app-person>
</div>