img {
    height: 7rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li button {
    border-radius: 50px;
    margin: 30px;
    padding: 1rem;
    color: goldenrod;
}

li button:hover {
    cursor: pointer;
}

.search input{
    vertical-align: center;
    padding: 1rem 10rem;
    border: 1px solid goldenrod;
    border-radius: 2rem;
    text-align: center;
}

.person {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.names ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 5px 0;
}

.names ul li:hover {
    color: blueviolet;
    cursor: pointer;
    padding: 1rem 0;
}

.names {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
}

.group {
    display: flex;
    margin-left: 200x;
}

.group div {
    padding: 1rem 2rem;
    border: 1px black solid;
    margin: 1rem;
}