<div *ngIf="person" class="person">
    <nav class="navbar">
        <ul>
            <li>
                <img src="../../../assets/img/StarWarsLogo.png" alt="logo">
            </li>
            <li class="search">
                <input type="text" [(ngModel)]="searchText" placeholder="Search Person">
            </li>
            <li>
                <button type="button" (click)="unSelect()">X</button>
            </li>
        </ul>
    </nav>
    <button (click)="fetchFilms(person)">
        <span class="films">Films casted in</span>
    </button>
    <div class="names">
        <ul>
            <li *ngFor="let name of peopleNames | filter: searchText" (click)="newSelect(name)">
                {{name}}
            </li>
        </ul>
        <div class="fax">
            <h2>{{person.name}} facts</h2>
            <div class="fax-group">
                <div class="group">
                    <div>Height: {{person.height}}</div>
                    <div>Weight: {{person.mass}}</div>
                    <div>Gender: {{person.gender}}</div>
                </div>
                <div class="group">
                    <div>Hair Color: {{person.hair_color}}</div>
                    <div>Eye Color: {{person.eye_color}}</div>
                    <div>Skin Color: {{person.skin_color}}</div>
                </div>
            </div>
            <div class="table">
                <table *ngIf="personFilms.length">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Director</th>
                            <th>Release Date</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let film of personFilms">
                        <tr>
                            <td>{{film.title}}</td>
                            <td>{{film.director}}</td>
                            <td>{{film.release_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="https://github.com/ENOCKMOSETI/ng-star-wars">
            <span class="material-icons">summarize</span>
        </a>
    </div>
</div>